




<body>

<div class="container misiek1">
  <form>
    <fieldset>
      <p align="left">
        Imię:<br>
        <input type="text" name="firstname" placeholder="Podaj imie"><br>
        Nazwisko:<br>
        <input type="text" name="lastname"placeholder="Podaj nazwisko"><br>
        E-mail:<br>
        <input type="text" name="lastname" placeholder="Podaj email"><br>
        Płeć:<br>
        <input type="radio" value="kobieta" name="plec" />Kobieta
        <input type="radio" value="mężczyzna" name="plec" />Mężczyzna<br>
        Opis:<br>
        <textarea name="opinia" cols="40" rows="5"></textarea><br>
        <br><label for="age">Wiek:</label>
        <input type="number" name="age" id="age" min="18"/><br>
        <br><label for="maritial">Stan cywilny</label>
        <select id="maritial" name="maritial" required>
          <option>Panna/Kawaler</option>
          <option>Mężatka/Żonaty</option>
          <option>Wdowa/Wdowiec</option>
        </select>
        <tr>
          <br />
          <td colspan="2" align="center"><br />
            <input type="submit" value="Wyślij" />
            <input type="reset" value="Wyczyść" />
          </td>
        </tr>
      </p>
    </fieldset>
  </form>
</div>

